{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block body %}

<div class="club-background">
    <div class="club-titre-texte">
        <h2>BCKR</h2>
        <p>
            Le Badminton Club Kriegsheim Rottelsheim (ou BCKR) a été fondé en 1996 et compte aujourd'hui près d'une soixantaine de membres.
            Uniquement composé de sportives et sportifs amateurs, se dépenser dans la bonne humeur est la seule chose requise pour intégrer le club ! <br>
            Tous les niveaux sont accueillis et ici tout le monde joue avec tout le monde grâce à un modèle de tirage au sort que vous n'avez jamais vu ailleurs.
            <br><br>
            En plus des entraînements, notre club propose d'autres activités, qu'elles soient basées sur le sport ou non.
            Cela va des rencontres sportives amicales avec d'autres clubs jusqu'à l'organisation grands repas dans la convivialité.
        </p>
    </div>
    <img class="img-president" src="{{ asset('img/discours-president.jpg')}}" alt="photo du président du club faisant un discours">
    <div class="club-titre-texte">
        <h2>Entraînements</h2>
        <p>
            Les entraînements se déroulent tous les mardis et vendredis au gymnase de Kriegsheim (17 rue de Rottelsheim, 67170 Kriegsheim) à partir de 20h30 pendant toute l'année, été et vacances scolaires comprises.
            L'inscription à l'année coûte 60€ et comprend une salle chauffées, une raquette de prêt si nécessaire, des volants, des vestiaires et des douches. <br>
            Il y a la possibilité de venir à 3 séances gratuitement afin de vous forger votre propre avis ! <br>
            Les débutants seront bien évidemment encadrés par des membres plus expérimentés. <br>
            Les séances commencent à 20h30 et n'ont pas d'heure de fin prédéfinie. La raison ? Chacun arrête quand bon lui semble et il arrive que les plus téméraires jouent jusqu'à minuit. <br>
            Aucun minimum de présence n'est requis aux entraînements, venez quand vous le voulez, que ce soit deux fois par semaine ou une fois par mois. <br> <br>
            La bonne ambiance est le seul prérequis pour nous rejoindre !
        </p>
    </div>
</div>

{% endblock %}