{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block body %}

<div class="entrainement-background">
    <div class="entrainement-titre-texte">
        <h2>Présence aux prochains entraînements</h2>
        <p>
            C'est juste pour savoir combien de personnes seront présentes.
        </p>
    </div>
</div>

{% endblock %}