{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<div class="mentions-legales-background">
    <div class="mentions-bloc-texte">
        <div class="titre-texte">
            <h4>Mentions Légales et utilisation des données</h4>
            <p>
                Bienvenue sur le site du BCKR,
                <br>
                <br>
                Ce site a pour but une présentation de l'association ainsi que la gestion globale du club en allant des événements organisés jusqu'à la partie administrative.
                <br>
                En utilisant ce site, vous acceptez les présentes conditions d'utilisation.
            </p>
        </div>   
        <div class="titre-texte">
            <h5>Données collectées et finalités</h5>
            <p>
                <ul>
                    <li>
                        Utilisateurs : pseudo, email.
                    </li>
                    <li>
                        Membres : pseudo, email, nom, prénom, numéro de licence, date de naissance, adresse, photo.
                    </li>
                </ul>
            </p>
            <p>
                Ces données sont utilisées pour gérer les comptes, communiquer et organiser des événements. Les données des membres ont pour but d'aider à la gestion du club.
                <br>
                Elles sont traitées sur la base du consentement, resteront internes au club et ne seront partagées qu'en cas d'obiligation légale.
            </p>
        </div>
        <div class="titre-texte">
            <h5>Droits des utilisateurs</h5>
            <p>
                Les utilisateurs peuvent accéder, rectifier, supprimer vos données, et exercer d'autres droits en contactant <b> badminton.bckr@gmail.com</b>.
            </p>
        </div>
    </div>
</div>

{% endblock %}