{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="background mentions-legales-background">
    <h2 class="hidden-once hidden-fix">Conditions générales d'utilisation et de traitement des données</h2>
    <section class="mentions-legales hidden-once hidden-fix">
        <p>
            Ce site a pour but de présenter l'association et d’assurer la gestion du club, de l’organisation des événements à la gestion administrative. En utilisant ce site, vous acceptez les présentes conditions générales d'utilisation et de traitement des données.
        </p>

        <h5>Données collectées et finalités</h5>
        <p>
            Les données suivantes sont collectées :
            <br>
            Utilisateurs : pseudo, email.
            Membres : pseudo, email, nom, prénom, numéro de licence, date de naissance, adresse, photo.
            <br><br>
            Ces informations permettent de gérer les comptes, de communiquer et d’organiser les événements. Les données des membres sont utilisées pour la gestion du club et sont conservées pendant la durée de l’adhésion et une durée raisonnable après celle-ci pour répondre aux obligations administratives. Elles ne seront partagées qu'en cas d’obligation légale.
        </p>

        <h5>Droits des utilisateurs</h5>
        <p>
            Conformément aux lois en vigueur, vous disposez de droits d'accès, de rectification, de suppression, de limitation du traitement et de portabilité de vos données. Pour exercer ces droits, contactez-nous à : <b>badminton.bckr@gmail.com</b>.
        </p>

        <h5>Base légale du traitement</h5>
        <p>
            Les informations personnelles des utilisateurs et membres sont traitées principalement sur la base de l'exécution du contrat (adhésion) et du consentement lorsque requis.
        </p>

        <h5>Modification des conditions d’utilisation</h5>
        <p>
            Les présentes conditions peuvent être modifiées. En cas de changement majeur, les utilisateurs seront informés via ce site.
        </p>
    </section>
</main>

{% endblock %}