{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user  and app.user.isAdmin() %}
        Liste membres
    {% else %}
        Page introuvable
    {% endif %}
{% endblock %}

{% block body %}

{% if app.user  and app.user.isAdmin() %}
    <div class="membre-container">

        <h4>Liste des membres</h4>

        <p>
            {% for membre in membres %}
                <a class="texte-membre" href=" {{ path('show_membre', {'id': membre.id}) }} ">{{ membre.prenom }} {{ membre.nom }}</a>
            {% endfor %}
        </p>
    </div>

{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}