{% if field.value is not empty %}
    <ul>
        {% for participation in field.value %}
            <li>
                Utilisateur : {{ participation.inscrit.pseudo }} - Participant(s) : {{ participation.nbrParticipants }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune participation pour cet événement.</p>
{% endif %}
