@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
}

.flash-success {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 24px;
    color: #155724;
    background-color: #d4edda;
}

.flash-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 24px;
    color: #721c24;
    background-color: #f8d7da;
}

::selection {
    background-color: #807FFF;
    color: rgb(0, 0, 0);
    border-radius: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #807FFF;
    border-radius: 16px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4c4caa;
  }

  /* --------------- GÉNÉRAL ---------------- */

  main {
    margin-top: 116px;
  }

h1 {
    color: rgb(255, 255, 255);
    font-family: Cinzel;
    font-weight: 600;
    font-size: clamp(2rem, 7.5vw + .5rem, 3.5rem);
    line-height: 58px;
    padding: 8px;
}

h2 {
    font-size: clamp(1.5rem, 5vw + 0.5rem, 2rem);
    max-width: fit-content;
    font-family: Cinzel;
    padding: 16px;
}

h3 {
    font-size: clamp(1.2rem, 5vw + 0.5rem, 1.8rem);
}
    
h4 {
    color: rgb(0, 0, 0);
    font-size: clamp(1rem, 5vw, 1.7rem);
}

h5 {
    font-size: clamp(0.8rem, 5vw, 1.5rem);
}

a {
    max-width: fit-content;
    text-decoration: none;
}

.background {
    background-color: #f9f9fa;
}

.underline {
    text-decoration: underline;
}
.text-bold {
    font-weight: 500;
}
.text-italic {
    font-style: italic;
}
.text-purple {
    color: #454599;
}
form input {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid black;
    border-radius: 8px;
}

.no-border {
    border: none;
}

textarea {
    max-height: 90vh;
}

/* --------------- NAVBAR ---------------- */


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 116px;
    width: 100%;
    align-items: center;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    padding: 24px;
    border-bottom: solid 1px #807FFF;
    font-weight: 400;
    background-color: #f9f9fa;
}

.nav-liens {
    display: flex;
    align-items: center;
}

.nav-liens ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-liens ul li {
    list-style: none;
}

.nav-liens a:hover {
    text-decoration: underline;
    color:  #5757b1;
    transition: 0.2s;
}

.nav-liens a {
    padding: 0 10px;
}

.menu-mobile {
    display: none;
}

/* --- Bouton barre --- */

.toggle-btn i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.toggle-btn i:hover {
    transition: 0.2s;
    color: red;
}

/* --- animation burger / croix --- */
.plate4 .x {
    transition: transform 400ms;
  }
  .plate4 .line {
    transform-origin: 50%;
    transition: transform 400ms 100ms;
  }
  .active.plate4 .line {
    transition: transform 400ms;
  }
  .active.plate4 .line1 {
    transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(.7);
  }
  .active.plate4 .line2 {
    transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(.7);
  }
  .active.plate4 .line3 {
    transform: translateY(0px) rotate(45deg) scale(.7);
  }
  .active.plate4 .line4 {
    transform: translateY(0px) rotate(-45deg) scale(.7);
  }
  .active.plate4 .line5 {
    transform: translateX(18px) translateY(3px) rotate(45deg) scale(.7);
  }
  .active.plate4 .line6 {
    transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(.7);
  }
  .active.plate4 .x {
    transition: transform 400ms 100ms;
    transform: scale(1);
  }

/* Menu mobile */

@media (max-width: 900px) {
    
        header {
            padding: 20px 0 20px 50px;
            gap: 0;
            max-height: none;
            justify-content: left;
        }

    .menu-mobile {
        display: flex;
        flex-direction: column;
    }

    header .login,
    header .logo,
    nav a,
    .login a {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
    
    .mobile-croix {
        /* display: none; */
        text-align: end;
        width: 100%;
    }
}


/* --- Boutons connexion --- */
.nav-login {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pseudo-utilisateur {
    color: #5757b1;
    border:  1px;
    padding: 8px 16px;
}

.btn-blanc {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: solid 1px #5757b1;
    color: #5757b1;
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-clair {
    height: fit-content;
    background-color: #807FFF;
    color: rgb(255, 255, 255);
    border: solid 1px #000000;
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-blanc:hover {
    color:  rgb(255, 255, 255);
    transition: 0.5s;
    background-color: #5757b1;
    border: solid 1px #000000;
    cursor: pointer;
}

.btn-clair:hover {
    background-color: rgb(255, 255, 255);
    border: solid 1px #5757b1;
    color: #5757b1;
    transition: 0.5s;
    cursor: pointer;
}

/* --------------- FOOTER ---------------- */

footer {
    height: 320px;
    border-top: solid 1px #000000;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333335;
}

.liens-internes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lien-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}
.lien-footer a {
    padding: 0 20px;
    color: white;
}

.lien-footer i {
    color: white;
}

.lien-footer a:hover,
footer a i:hover
 {
    color:  #807FFF;
    transition: 0.2s;
}

/* --------------- PAGE ACCUEIL ---------------- */

.homepage-background {
    /* align-items: center;
    text-align: center; */
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 64px;
}

.titre-homepage {
    background: url('../img/homepage/fond-titre.webp') no-repeat;
    background-position-y: 50%;
    background-size: cover;
    min-height: 320px;
    border-radius: 8px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.wrapper-cta {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper-cta i {
    color: #5757b1;
    /* border-bottom: 1px solid #5757b1;
    border-top: 1px solid #5757b1; */
}

.homepage-rejoindre-btn {
    background-color: rgb(255, 255, 255);
    border: solid 1px #5757b1;
    color: #5757b1;
    border-radius: 8px;
    padding: 16px 24px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    font-size: larger;
}

.homepage-rejoindre-btn:hover {
    color: #000000;
    border: solid 1px rgb(0, 0, 0);
    background-color: #807FFF;
    transition: 0.4s;
}

.club {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.card-club {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 8px;
}

.club-img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-bottom: 16px;
}

.titre-texte {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 32px;
    font-size: 1.5rem;
    text-align: justify;
    gap: 16px;
}

.titre-texte p {
    color: rgba(0, 0, 0, 0.750);
}

/* ====== PARTIE EVENEMENTS ====== */
.evenement-a-venir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.evenement-a-venir h2 {
    padding: 0 32px 16px 32px;
    text-align: center;
}

.evenement-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.no-evenement-wrapper {
    min-height: 220px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
}

.no-evenement-wrapper p {
    text-align: center;
}

/* =============== CARD EVENEMENT =============== */

.card-evenement {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: solid 3px #000000;
    border-radius: 8px;
    width: 20%;
    max-height: 720px;
    min-width: 400px;
    max-width: 750px;
}

.evenement-card-top {
    position: relative;
    cursor: pointer;
}

.visib-evenement-admin {
    position: absolute;
    z-index: 50;
    top: 16px;
    right: 16px;
    padding: 8px;
    background-color: #ca6d22;
    color: white;
    border: solid 1px white;
    border-radius: 4px;
}

.visib-evenement-membre {
    position: absolute;
    z-index: 50;
    top: 16px;
    right: 16px;
    padding: 8px;
    background-color: #807FFF;
    color: white;
    border: solid 1px white;
    border-radius: 4px;
}

.visib-evenement-admin i,
.visib-evenement-membre i {
    color: white;
}

.card-admin {
    border: solid 3px #ca6d22;
}

.card-membre {
    border: solid 3px #807FFF;
}

.affiche-event {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px 4px 0 0 ;
    /* border: solid 1px; */
}

.affiche-event img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    z-index: 10;
}

.evenement-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 16px;
    flex-grow: 1;
}

.evenement-card-titre h5 {
    font-size: 24px;
}

.evenement-card-description {
    color: #2b2b2b;
}

.evenement-card-bottom {
    width: 100%;
    height: auto;
    display: flex;
}

.evenement-card-infos {
    padding: 12px;
    margin: 16px;
    background-color: #807FFF;
    border-radius: 8px;
    border: solid 1px;
    width: fit-content;
}

.evenement-card-infos a,
.evenement-card-infos i {
    color: white;
}

.evenement-card-infos:hover {
    background-color: white;
    border: 1px solid #5757b1;
}

.evenement-card-infos:hover a,
.evenement-card-infos:hover i {
    color: #5757b1;
}

.card-evenement:hover img {
    transform: scale(1.2);
}

 /* ---------- PARTIE PAGE EVENEMENT ---------- */


 .btn-editer-evenement {
    background-color: #ffd86d;
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 12px;
    margin: 16px;
    text-decoration: none;
    cursor: pointer;
}


.btn-supprimer-evenement {
    background-color: #FF5353;
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 12px;
    margin: 16px;
    text-decoration: none;
    cursor: pointer;
}


 

/* PARTIE CARROUSEL   */

.carrousel {
    display: flex;
}

.swiper {
    width: 60%;
    height: 600px;
}

.creative-carousal--hero img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
/* ============ Full Page Slider ================= */
.creative-carousal--hero{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 32px;
}
.creative-carousal--hero .carousel-slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.creative-carousal--hero .carousel-slider  .swiper-slide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: center;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 3;
}
.creative-carousal--hero .carousel-slider .swiper-slide:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #222327;
    opacity: 0.7;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active:after {
    opacity: 0.4;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner {
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.creative-carousal--hero .carousel-slider .swiper-slide.swiper-slide-active .inner {
    opacity: 1;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
    width: 100%;
    float: left;
    font-size: 3vw;
    line-height: 5vw;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 0;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner a{
    font-size: 19px;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
    text-decoration: none;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.creative-carousal--hero .carousel-slider .swiper-slide .inner a:hover{
    text-decoration: none;
    color: #75dab4;
}
.creative-carousal--hero .slide-progress {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -110px;
    z-index: 3;
    text-align: center;
}
.creative-carousal--hero .slide-progress span {
    display: inline-block;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
}
.creative-carousal--hero .slide-progress .swiper-pagination {
    width: 160px;
    height: 2px;
    margin: auto 10px;
    display: inline-block;
    position: static;
    background: rgba(255, 255, 255, 0.3);
}
.creative-carousal--hero .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
    background: #fff;
}

.creative-carousal--hero .slide-progress span {
    display: inline-block;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    font-size: 14px;
}
.creative-carousal--hero .swiper-button-prev {
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: 120px;
    bottom: 30px;
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    background: none;
}
.creative-carousal--hero .swiper-button-prev:after{
    display: none;
}
.creative-carousal--hero .swiper-button-next {
    height: auto;
    position: absolute;
    left: auto;
    top: auto;
    right: 40px;
    bottom: 30px;
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    background: none;
}
.creative-carousal--hero .swiper-button-next:after{
    display: none;
}
/* ====================== Responsive Ipad =============================== */
@media (max-width: 991px) {
    .creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
               font-size: 7vw;
        line-height: 7vw;
        margin-bottom: 15px;
    }
}

/* ====================== Responsive Iphone =============================== */
@media screen and (max-width: 767px) {
    .creative-carousal--hero .carousel-slider .swiper-slide .inner h2{
        font-size: 12vw;
        line-height: 12vw;
        margin-bottom: 15px;
    }
    .creative-carousal--hero .swiper-button-prev{
            left: 40px;
    }
    .creative-carousal--hero .swiper-button-next{
            right: 40px;
    }
}

/* --------------- TEXTE UTILISATEUR ---------------- */

.texte-utilisateur {
    color: rgb(0, 0, 0);
}

/* --------------- ESPACE PERSO ---------------- */

.pagePerso-background {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagePerso-background h4 {
    margin: 32px 0;
}

.pagePerso-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.gerer-compte,
.infos-compte,
.evenements-inscrit {
    padding: 24px;
    margin: 0 16px;
}

.gerer-compte {
    width: 25%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: rgb(192, 192, 192);
}

.gerer-compte li {
    list-style: none;
}

.pagePerso-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagePerso-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#menu-compte-perso {
    padding: 0 16px;
    margin: 16px 0;
    border-left: solid 3px #807FFF;
}

.infos-compte {
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    border: solid 1px #807FFF;
    border-radius: 16px;
}

.infos-generales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.infos-texte {
    display: flex;
    flex-direction: column;
}

.infos-liste {
    padding: 16px;
}

.espace-perso-texte,
.texte-underligne {
    padding: 8px 0;
}

.texte-underligne {
    text-decoration: underline;
}

.column-photoPageperso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-pagePerso {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
}

.photo-pagePerso img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.photo-pagePerso i {
    font-size: 80px;
    font-weight: 100;
}

.evenements-inscrit {
    width: 35%;
    min-width: 360px;
    border: solid 1px black;
    border-radius: 16px;
}

.evenement-mini-card {
    margin: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.detail-mini-card {
    display: flex;
    flex-direction: column;
}

/* --------------- LISTE ÉVÉNEMENTS ---------------- */

.liste-evenement-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.liste-evenement-background h2 {
    padding: 32px;
}

.evenement-recherche {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-evenly;
}

.ajout-evenement {
    padding: 8px;
    background-color: #7f7fffb6;
    border: solid 1px black;
    border-radius: 8px;
}

.evenement-form-recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search_event_valider {
    border: none;
}

.evenement-form-recherche i {
    color: #000000;
    padding: 8px;
    background-color: #f9f9fa;
    border: solid 1px #f9f9fa;
    border-radius: 8px;
    cursor: pointer;
}

.evenement-form-recherche i:hover {
    color: #807FFF;
    border: solid 1px #807FFF;
    transition: 0.2s;
}

.form-recherche button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

.form-recherche i,
.nav-login a i
 {
    padding: 8px;
    border: solid 1px rgba(255, 255, 255, 0);
}

.form-recherche button i:hover,
.form-recherche a i:hover,
.nav-login a i:hover
 {
    color: #5757b1;
    border: solid 1px #807FFF;
    border-radius: 8px;
    transition: 0.3s;
}

.barre-recherche {
    width: 300px;
}

.evenement-form form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px #5757b1;
    border-bottom: solid 1px #5757b1;
    padding: 16px;
}

.nbr-participants-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nbr-participants-form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nbr-participants-form input{
    width: 64px;
    color: #000000;
}

.form-nbr-participants div label {
    color: #000000;
    align-content: center;
    padding: 8px 0;
}

.valider-participation-btn {
    padding: 16px;
    display: flex;
    width: fit-content;
    background-color: #7fff85;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    border: solid 1px black;
}

.valider-participation-btn:hover {
    cursor: pointer;
    background-color: #46c74c;
    transition: 0.4s;
}

.suppr-edit-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.message-participation {
    text-align: center;
    font-weight: 500;
    padding: 16px;
    color: rgb(0, 0, 0);
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000000;
    margin: 24px;
}

/* .pagination {
    max-width: 200px;
} */

.titre-colonne {
    font-weight: 600;
}

td, tr {
    background-color: rgba(231, 231, 231, 0.7);
    padding: 16px;
    border: solid 1px rgb(0, 0, 0);
    text-align: center;
    min-width: fit-content;
}

.btn-editer-profile {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(56, 68, 141);
    border-radius: 10px;
}

/* --------------- DÉTAIL ÉVÉNEMENT ---------------- */

.detail-evenement-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px 32px 32px;
}

.detail-evenement-background h3,
.detail-evenement-background h4,
.detail-evenement-background h5 {
    margin: 16px 32px;
}

.detail-evenement-background section {
    margin: 32px ;
}

.detail-evenement-infos {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.detail-evenement-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.detail-evenement-affiche {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40vh;
    max-width: 25vw;
}

.detail-evenement-affiche img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.detail-evenement-contenu {
    width: 70%;
    white-space: pre-line;
    white-space: pre-wrap;
}

.detail-evenement-participation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-evenement-inscrits {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 16px;
}

.detail-evenement-participant {
    width: fit-content;
    padding: 8px;
    margin: 8px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: #e9e9e9;
}

.detail-evenement-galerie {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-evenement-photos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: 0 16px;
}

.detail-evenement-photo {
    display: flex;
    flex-direction: column;
    margin: 16px;
    height: 250px;
    width: 150px;
}

.detail-evenement-photo img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.detail-evenement-photo a {
    margin-top: 8px;
}

.detail-evenement-commentaires {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-evenement-card-commentaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px 8px 8px;
    margin: 8px 0;
    border: solid 1px black;
    border-radius: 8px;
    white-space: pre-line;
}

.detail-evenement-card-commentaire a {
    margin-top: 16px;
}

.detail-evenement-auteur-commentaire {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #b6b6b6;
    padding-bottom: 8px;
    gap: 32px;
}

.pp-commentaire img,
.pp-commentaire i
 {
    max-height: 40px;
    max-width: 40px;
}

.detail-evenement-commentaire-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-evenement-commentaire-form form,
.detail-evenement-commentaire-form form div
 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.texte-commentaire {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    background-color: #7f7fff18;
}

/* .btn-gris {
    padding: 8px 16px;
    display: flex;
    width: fit-content;
    background-color: #b6b6b6;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border: solid 1px black;
} */

/* --------------- CLUB ---------------- */

.club-background {
    display: flex;
    flex-direction: column;
}

.club-section h2 {
    padding: 0;
    margin: 24px 0;
}

.club-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px;
}

.club-texte {
    width: 60%;
}

.club-ligne-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 1px #807FFF;
    border-bottom: solid 1px #807FFF;
}

.club-ligne-photos img {
    margin: 32px;
    height: 400px;
}

/* --------------- PAGE ENTRAINEMENTS ---------------- */

.page-entrainement-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.separation-parallaxe h2 {
    color: rgb(255, 255, 255);
    padding: 32px;
}

.photos-entrainement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.img-entrainement {
    height: 400px;
    size: cover;
    width: auto;
    max-width: 600px;
}

.separation-parallaxe {
    display: flex;
    min-height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-image: url('../img/filet-volant-sombre.webp'); */
    background-image: url('../img/entrainement/filet-volant-sombre.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infos-entrainement {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 32px 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    /* test */
    background-image: url('../img/filet-volant-sombre.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-infos {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.box-infos p {
    color: black;
    min-height: 132px;
    padding-top: 32px;
    text-align: center;
}

.entrainement-infos-complementaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
}

.texte-img-horizontal {
    margin: 32px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.texte-img-horizontal p {
    width: 35%;
    text-align: center;
}

/* --------------- MENTIONS LÉGALES ---------------- */

.mentions-legales-background {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
}

.mentions-legales-background h2 {
    padding: 32px 0;
}

.mentions-legales {
    width: 75%;
}

.mentions-legales h4 {
    padding: 16px 0;
}

.mentions-legales p {
    padding: 32px 0;
}

/* --------------- CONTACT ---------------- */

.contact-background {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.wrapper-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.texte-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px 0;
}

.texte-contact p {
    margin: 16px;
}

.form-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
}
/* texte du form */
.texte-mail {
    min-height: 150px;
    max-width: 70vw;
    min-width: 70vw;
    padding: 16px;
    text-align: start;
    word-wrap: break-word;
    white-space: pre-wrap;
}
/* bouton du form */
.btn-mail {
    height: 64px;
    width: 128px;
    margin-top: 32px;
}

/* --------------- FORMULAIRE ---------------- */

.evenement-formulaire-background {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.evenement-haut {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 128px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulaire form {
    width: 80%;
}

.formulaire form div {
    padding: 16px;
}

.formulaire textarea {
    max-width: 100%;
    min-width: 100%;
}

.upload-btn {
    padding: 16px 0;
}

.texte-formulaire {
    width: 100%;
    padding: 16px;
}

/* .formulaire input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire textarea {
    margin-top: 10px;
    padding: 10px;
    min-width: 190%;
    max-width: 190%;
    min-height: 15lvh;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=datetime-local] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=date] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire select {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire select option{
    color: rgb(255, 255, 255);
}

/* bouton validation création / édition d'événement */
.valider-btn-formulaire {
    background-color: #04AA6D;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}
/* bouton non participation événement */
.suppr-btn-formulaire {
    background-color: #FF5353;
    border: 1px solid black;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

.valider-btn-formulaire:hover {
    background-color: #08d48a;
} */

/* .suppr-btn-formulaire:hover {    marche pas
    background-color: #351111;
    transition: 0.4s;
} */

/* --------------- REGISTER ---------------- */

.register-formulaire-background {
    display: flex;
}

.register-formulaire-background h4 {
}

.register-formulaire-background a {
    color: #049faa;
}

.register-formulaire-background a:hover {
    text-decoration: underline;
}

/* --------------- LOGIN ---------------- */

.login-background {
    display: flex;
    flex-direction: column;
    background: url('../img/login/raquette-et-volant-sombre.webp') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
/* Photo de Glen Carrie sur Unsplash */

.logged-container {
    padding: 150px 50px 100px 50px;
}

.login-container p {
    color: #d40808;
    text-align: center;
}

.logged-container a {
    text-decoration: underline;
    font-weight: 800;
}

.login-container h4 {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-container {
    width: 420px;
    background: transparent;
    border:  2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    color: white;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-btn {
    border: none;
    border-radius: 40px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    background-color: #e7e7e7;
    padding: 16px 40px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.login-btn span {
    position: relative; 
    z-index: 1;
}

.login-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #a3a3a3;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.login-btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.mot-de-passe-oublie {
    text-align: center;
    margin: 20px 15px;
}

.mot-de-passe-oublie a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.mot-de-passe-oublie a:hover {
    text-decoration:  underline;
}

.register-link {
    /* font-size: 14px; */
    text-align: center;
    margin: 20px 15px;
}

.register-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration:  underline;
}

 /* ------------ RESET PASSWORD ------------ */

 .reset-password-btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgb(99, 99, 99);
    font-weight: 600;
}