@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
}

::selection {
    background-color: #807FFF;
    color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #807FFF;
    border-radius: 16px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4c4caa;
  }

  /* --------------- GÉNÉRAL ---------------- */


h1 {
    color: rgb(255, 255, 255);
    font-family: Cinzel;
    font-weight: 600;
    font-size: clamp(2rem, 7.5vw + .5rem, 3.5rem);
    line-height: 58px;
    padding: 8px;
}

h2 {
    font-size: clamp(1.5rem, 5vw + 0.5rem, 2rem);
    max-width: fit-content;
    font-family: Cinzel;
    padding: 16px;
}

h3 {
    font-size: clamp(1.2rem, 5vw + 0.5rem, 1.8rem);
}
    
h4 {
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 5vw, 1.7rem);
}

h5 {
    font-size: clamp(0.8rem, 5vw, 1.5rem);
}

a {
    max-width: fit-content;
    text-decoration: none;
}

/* button {
    background-color: #049faa;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
} */

/* --------------- NAVBAR ---------------- */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 117px;
    padding: 24px;
    /* border-bottom: solid 1px #807FFF; */
    border-bottom: solid 1px #7f7fff9d;
    font-weight: 400;
}

nav {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.liens a:hover {
    text-decoration: underline;
    color:  #5757b1;
    transition: 0.2s;
}

.liens a {
    padding: 0 10px;
}

header .menu-mobile {
    display: none;
}

/* --- Bouton barre --- */

.toggle-btn i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.toggle-btn i:hover {
    transition: 0.2s;
    color: red;
}

/* Menu mobile */

@media (max-width: 1000px) {

    header .menu-mobile {
        display: flex;
        flex-direction: column;
    }

    header {
        padding: 20px 0 20px 50px;
        gap: 0;
        max-height: none;
        justify-content: left;
    }

    header .login,
    header .logo,
    nav a,
    .login a {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
    
    .mobile-croix {
        /* display: none; */
        text-align: end;
        width: 100%;
    }
}


/* --- Boutons connexion --- */
.login {
    display: flex;
    gap: 16px;
}

.pseudo-utilisateur {
    color: #5757b1;
    border:  1px;
    padding: 8px 16px;
}

.btn-deconnexion,
.btn-connexion {
    background-color: rgb(255, 255, 255);
    border: solid 1px #5757b1;
    color: #5757b1;
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-inscription,
.btn-espace-perso {
    background-color: #807FFF;
    color: rgb(255, 255, 255);
    border: solid 1px #000000;
    border-radius: 8px;
    padding: 10px 15px;
}

.btn-deconnexion:hover,
.btn-connexion:hover {
    color:  rgb(255, 255, 255);
    transition: 0.5s;
    background-color: #5757b1;
    border: solid 1px #000000;
}

.btn-inscription:hover,
.btn-espace-perso:hover {
    background-color: rgb(255, 255, 255);
    border: solid 1px #5757b1;
    color: #5757b1;
    border-radius: 8px;
    transition: 0.5s;
}

/* --------------- FOOTER ---------------- */

footer {
    background: rgb(255, 255, 255);
    height: 320px;
    border-top: solid 1px #807FFF;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.liens-internes {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lien-footer {
    display: flex;
    gap: 16px;
}
.lien-footer a {
    padding: 0 20px;
}

.lien-footer a:hover {
    text-decoration: underline;
    color:  #5757b1;
    transition: 0.2s;
}

footer a i:hover {
    color:  #5757b1;
    transition: 0.2s;
}

/* --------------- PAGE ACCUEIL ---------------- */

.homepage {
    /* align-items: center;
    text-align: center; */
    margin-top: 117px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 64px;
}

.titre-homepage {
    background: url('../img/fond-titre.png') no-repeat;
    background-position-y: 50%;
    background-size: cover;
    min-height: 400px;
    border-radius: 16px;
    display: flex;
    align-items: end;
}

.club {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.card-club {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 16px;
}

.club-img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-bottom: 16px;
}

.titre-texte {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 32px;
    font-size: 1.5rem;
    /* text-align: justify; */
    gap: 16px;
}

.titre-texte p {
    color: rgba(0, 0, 0, 0.750);
}

.a-venir {
    display: flex;
    flex-direction: column;
}

.a-venir h2 {
    padding: 0 32px 0 32px;
}

.evenement-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.card-evenement {
    display: flex;
    flex-direction: column;
    flex: 1 1 24%;
    border: solid 1px #5757b1;
    border-radius: 16px;
    padding: 32px;
    min-width: 400px;
    max-width: 750px;
}

.evenement-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.affiche-event {
    width: 50%;
    height: auto;
}

.affiche-event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.evenement-info {
    width: 50%;
    width: auto;
    height: auto;
}

.evenement-info h5 {
    padding: 16px 8 px;
}

.evenement-descr {
    background-color: rgba(128, 128, 128, 0.541);
    border-radius: 16px;
    padding: 24px;
    margin-top: 24px;
    text-align: justify;
}

.carrousel {
    display: flex;
}

.swiper {
    width: 60%;
    height: 600px;
}

/* .swiper-slide {
} */
  

/* --------------- TEXTE UTILISATEUR ---------------- */

.texte-utilisateur {
    color: rgb(0, 0, 0);
}

.error {
    background: rgb(58, 58, 58);
    color: white;
    font-size: 40px;
    padding: 100px;
}

/* --------------- LISTE UTILISATEUR ---------------- */

.utilisateurs-container {
    padding-top: 110px;
    min-height: 100vh;
    background: url('../img/terrain-bad-sombre.jpg') no-repeat;
    background-size: cover;
}

.utilisateurs-container h4 {
    padding: 0 100px;
}

.utilisateur-content {
    padding: 60px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #3a3a3a85;
    border-radius: 5px;
}

.utilisateurs-content a {
    color: white;
    margin: 5px;
}

.utilisateurs-content a:hover {
    text-decoration: underline;
}

/* --------------- DETAIL UTILISATEUR ---------------- */



/* --------------- LISTE MEMBRES ---------------- */

.membre-container {
    padding-top: 110px;
    min-height: 100vh;
    background: url('../img/terrain-bad-sombre.jpg') no-repeat;
    background-size: cover;
}

.membre-container h4 {
    padding: 0 100px;
}

.membre-container p {
    padding: 60px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #3a3a3a85;
    border-radius: 5px;
}

.membre-container a {
    color: white;
    margin: 10px;
}

.membre-container a:hover {
    text-decoration: underline;
}

/* --------------- ESPACE PERSO ---------------- */

.pagePerso-container {
    padding-top: 110px;
    min-height: 100vh;
    background: url('../img/terrain-bad-sombre.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagePerso-container h4 {
    padding: 20px;
}

.pagePerso-contenu {
    display: flex;
}

.infos-pagePerso p {
    padding: 10px;
    margin: 5px;
    background: #3a3a3ade;
    width: max-content;
    border-radius: 5px;
}

.infos-pagePerso {
    padding: 60px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #3a3a3a85;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}

.evenements-pagePerso {
    padding: 60px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #3a3a3a85;
    border-radius: 5px;
    backdrop-filter: blur(2px);
}

/* .evenements-pagePerso h6 a {
} */

.evenements-pagePerso h6 a:hover {
    text-decoration: underline;
}

/* .evenements-pagePerso li {
    list-style: none;
} */

.evenements-pagePerso h6 {
    padding: 15px;
}

/* --------------- LISTE ÉVÉNEMENTS ---------------- */

.liste-evenement-background {
    padding-top: 110px;
    background: url('../img/volants-sur-terrain-sombre.jpg') no-repeat;
    background-size: cover;
    min-height: 90lvh;
    display: flex;
    flex-direction: column;
}

.liste-evenement-background h4 {
    padding: 0 100px;
}

.liste-evenement-background a:hover {
    text-decoration: underline;
}

.liste-evenement-background a {
    color: white;
    padding: 20px;
    width: max-content;
}

.message-participation {
    text-align: center;
    font-weight: 500;
    padding: 15px;
    color: rgb(190, 190, 190);
}

table {
    width: 80%;
    border: solid 2px white;
    border-collapse: collapse;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* .pagination {
    max-width: 200px;
} */

.titre-colonne {
    font-weight: 600;
}

td, tr {
    background-color: rgba(39, 39, 39, 0.700);
    padding: 30px;
    border: solid 1px white;
    text-align: center;
}

.btn-editer {
    color: black;
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
}

.btn-editer-profile {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(56, 68, 141);
    border-radius: 10px;
}

.btn-supprimer {
    color: black;
    padding: 10px;
    background-color: rgb(226, 0, 0);
    border-radius: 10px;
}

/* --------------- DÉTAIL ÉVÉNEMENT ---------------- */

.det-evenement-background {
    background: url('../img/terrain-bad-sombre.jpg') no-repeat;
    background-size: cover;
    min-height: 80lvh;
    padding-top: 110px;
}

.det-evenement-background p {
    padding: 20px;
}

/* --------------- CLUB ---------------- */

.club-background {
    padding-top: 100px;
    background: url('../img/volant-sur-ligne-sombre.jpg') no-repeat;
    background-size: cover;
    min-height: 90lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.club-background img {
    max-width: 300px;
}

.club-titre-texte {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: justify;
    gap: 20px;
    max-width: 70%;
    border:  2px solid rgb(0, 0, 0);
    backdrop-filter: blur(3px);
    margin: 30px;
    padding: 30px;
}

.club-titre-texte h2 {
    padding: 0 40px 20px 40px;
}

/* --------------- ENTRAINEMENTS ---------------- */

.entrainement-background {
    padding-top: 100px;
    background: url('../img/photo-terrain-et-raquettes-sombre.jpg') no-repeat;
    background-size: cover;
    min-height: 90lvh;
    display: flex;
    flex-direction: column;
}


/* --------------- MENTIONS LÉGALES ---------------- */

.mentions-h3 h3 {
    font-size: 35px;
    padding: 130px 20px 20px 20px;
}

.mentions-legales-background {
    padding-top: 100px;
    background: url('../img/photo-lignes-sombre.jpg') no-repeat;
    background-size: cover;
    min-height: 90lvh;
}

.mentions-bloc-texte {
    margin: 30px;
    background-color: rgba(24, 25, 29, 0.7);
    border-radius: 3px;
    backdrop-filter: blur(3px);
}

/* --------------- FORMULAIRE ---------------- */

.formulaire-background {
    background: url('../img/volant-sur-ligne-sombre.jpg') no-repeat;
    background-size: cover;
    padding-top: 110px;
}

.formulaire-background h4 {
    padding: 0 100px;
}

.formulaire {
    display: flex;
    padding: 50px;
}

.formulaire form {
    width: 100%;
}

.required {
    color: rgb(255, 255, 255);
    padding-right: 20px;
}

.texte-formulaire {
    color: rgb(255, 255, 255);
}

.row-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0px;
}

.col-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.col-form label {
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 5px;
}

.formulaire input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=number] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire textarea {
    margin-top: 10px;
    padding: 10px;
    min-width: 190%;
    max-width: 190%;
    min-height: 15lvh;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=datetime-local] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire input[type=date] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire select {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(39, 39, 39);
    color: white;
    border: solid 1px rgb(165, 165, 165);
    border-radius: 5px;
}

.formulaire select option{
    color: rgb(255, 255, 255);
}

/* bouton validation création / édition d'événement */
.valider-btn-formulaire {
    background-color: #04AA6D;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
/* bouton non participation événement */
.suppr-btn-formulaire {
    background-color: #881602;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.valider-btn-formulaire:hover {
    background-color: #08d48a;
}

/* --------------- REGISTER ---------------- */

.register-formulaire-background {
    background: url('../img/volant-sur-ligne-sombre.jpg') no-repeat;
    background-size: cover;
    padding-top: 110px;
}

.register-formulaire-background a {
    color: #049faa;
}

.register-formulaire-background a:hover {
    text-decoration: underline;
}

/* --------------- LOGIN ---------------- */

.login-background {
    display: flex;
    flex-direction: column;
    background: url('../img/raquette-et-volant-sombre.jpg') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Photo de Glen Carrie sur Unsplash */

.logged-container {
    padding: 150px 50px 100px 50px;
}

.login-container p {
    color: #d40808;
    text-align: center;
}

.logged-container a {
    text-decoration: underline;
    font-weight: 800;
}

.login-container h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-container {
    width: 420px;
    background: transparent;
    border:  2px solid white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgb(99, 99, 99);
    font-weight: 600;
}

.login-btn:hover {
    text-decoration: none;
    color:  rgb(44, 44, 44);
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(161, 161, 161);
}

.mot-de-passe-oublie {
    text-align: center;
    margin: 20px 15px;
}

.mot-de-passe-oublie a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.mot-de-passe-oublie a:hover {
    text-decoration:  underline;
}

.register-link {
    /* font-size: 14px; */
    text-align: center;
    margin: 20px 15px;
}

.register-link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration:  underline;
}

 /* ------------ RESET PASSWORD ------------ */

 .reset-password-btn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgb(99, 99, 99);
    font-weight: 600;
}