{% extends 'base.html.twig' %}

{% block title %}Liste utilisateurs{% endblock %}

{% block body %}

<div class="utilisateurs-container">

    <h4>Liste des utilisateurs</h4>

    <p>
        {% for user in users %}
            <a class="texte-utilisateur" href=" {{ path('show_user', {'id': user.id}) }} ">{{ user.pseudo }}</a>
        {% endfor %}
    </p>

</div>

{% endblock %}